.todo-list__item {
  margin-bottom: 10px;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.li-block {
  display: flex;
  align-items: center;
}

.li-btn {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
  cursor: pointer;
  background-color: #fff;
}


.dell-img {
  width: 30px;
  cursor: pointer;
  margin-right: 10px;
}